.tool-bar
    a(href="/logout") Logout
.nav-bar
ul
    li
        a(href="#") ホーム
    li
        a(href="#") 一覧
    li
        a(href="#") ごみ登録
    li
        a(href="#") 分析
    li
        a(href="#") 設定
