.tool-bar
    a(href="/logout") Logout
.nav-bar
ul
    li
        a(href="/app/trashes/index") ホーム
    li
        a(href="/app/trashes/list") 一覧
    li
        a(href="/app/trashes/new") ごみ登録
    li
        a(href="/app/trashes/stat") 分析
    li
        | 設定
