.tool-bar
    a(href="/logout") Logout
.nav-bar
ul
    li
        a(href="/app/trashes/home") ホーム
    li
        a(href="/app/trashes/") 一覧
    li
        a(href="/app/trashes/new") ごみ登録
    li
        a(href="/app/trashes/stat") 分析
    li
        a(href="#") 設定
